html,
body {
    scroll-behavior: smooth;
    font-family: 'sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

}

.custom-container {
    display: flex;
    flex-direction: row;
}

.custom-body-container {
    flex: 1;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 8rem;
    height: 100vh;
    background: linear-gradient(to left, #48c6ef 0%, #6f86d6 100%);
    color: white;
    z-index: 1;
    transition: left 0.6s ease-in-out;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.sidebar-header h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar li {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar li a {
    text-decoration: none;
    color: white;
}

.sidebar li:hover {
    background-color: black;
}


nav {
    background: linear-gradient(to left, #6f86d6 0%, #48c6ef 100%);
    color: white;
    padding: 10px 30px;

}

#reset {
    font-size: 1.1rem;
    align-self: normal;
}

.custom-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-nav-search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-style: groove;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.searchInput::placeholder {
    color: lightgray;
    font-size: medium;
}

#no-results {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    font-size: larger;
}

#custom-cards-container {
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: auto;
}

.custom-card {
    border: 1px solid #ddd;
    border-radius: 2.2rem !important;
    padding: 20px;
    width: 310px;
    font-size: medium;
    cursor: pointer;
    background-color: #e4e8e9 !important;
    position: relative;
    line-height: 1.3;
}

.custom-card h2 {
    font-size: 20px;
    border-bottom: 2px solid #333;
    margin: 0;
}

.custom-card p {
    margin: 10px 0;
    align-self: center;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.deleteIcon {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    font-size: 1.3rem;
}

.likes {
    position: absolute;
    bottom: 0.5rem;
}

.dislikes {
    position: absolute;
    bottom: 0.5rem;
    left: 5.1rem;
}

.middle {
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
}

.search-sort {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, #8f9fd8 0%, #9ad0e3 100%);
    color: white;
    padding: 6px 20px;
    width: 100%;
    gap: 10px;
}

.search-sort #filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-sort #filter-button {
    margin-left: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-sort .sortBy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
}

.search-sort .sortBy h4 {
    font-size: large;
}


.sortBy #likes-div {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    cursor: pointer;
}

.sortBy #dislikes-div {
    cursor: pointer;
    margin-right: 1.3rem;
}

.search-sort #sort-button {
    margin-left: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-sort select {
    border-radius: 6px;
}

.search-sort option {
    font-family: sans-serif;
}

.delete-confirmation {
    background-color: grey;
    width: 330px;
    height: 95px;
    color: white;
    border-radius: 10px;
    top: 13rem;
    left: 38rem;
    z-index: 1;
    position: fixed;
}

.delete-confirmation p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

#search-results {
    display: flex;
    align-items: center;
    position: absolute;
    left: 42rem;
    top: 2rem;
}

.custom-btn {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.custom-btn button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.custom-btn #custom-no-btn {
    background-color: #dc3545;
}

.custom-btn #custom-no-btn:hover {
    background-color: #a71d2a;
}

.custom-btn #custom-yes-btn {
    background-color: #6fc74a;
}

.custom-btn #custom-yes-btn:hover {
    background-color: #2b7c0e;
}


.toastify {
    font-size: 16px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

footer {
    background: linear-gradient(to left, #6f86d6 0%, #48c6ef 100%);
    color: black;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: italic;
}