
  body{
    background-color: whitesmoke;
    margin: 0;
  }
  .parent {
    display: grid;
    grid-template: auto auto auto / 9rem 1fr;
  }
  
  header {
    grid-column: 2;
    background-color: #B3C8CF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: white;
    font-family: "Archivo", serif; 
  }
  
  .sidebar {
    grid-column: 1; 
    grid-row: 1 / 4;  
    background-color: #B3C8CF;
  }
  
  main {
    grid-column: 2 ; 
    grid-row: 2 ; 
    height: calc(100vh - 5rem);
  }

  footer {
    grid-column: 2 ; 
    grid-row: 3 ;
    background-color: #B3C8CF;
    color: white;
    font-family: "Archivo", serif;
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
  }
  
  .modal-content{
    background-color: whitesmoke;
  }

  
  
/* header element styles */
h1{
    font-style: italic;
    font-size: 1.2rem;
}
h2{
    font-size: 1rem; 
    margin-left: 4rem;
    margin: auto;
}

p {
    margin-top: 0.5rem; 
}

/* Btn styles overridden */
.btn-primary{
    background-color: #B3C8CF;
    border: none;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: #D1E1E6;
}
.btn-primary:active {
    background-color: #B3C8CF !important;; 
}

.error-msg{
    font-family:"Roboto", serif ;
    font-size: 0.9rem;
    color:  #89A8B2;
}

