body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-size: 1rem;
}

.aside {
  width: 8rem;
  background: linear-gradient(to left, #48c6ef 0%, #6f86d6 100%);
  display: flex;
  color: white;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 0;
}

.sideheader {
  margin-top: 1rem;
}
.aside ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.aside li {
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.aside li:hover {
  background-color: black;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

.container {
  flex: 1;
}
.container h3 {
  font-size: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  padding: 0.5rem;
}
header h1 {
  color: #fff;
}

footer {
  display: flex;
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  justify-content: space-around;
  font-style: italic;
  padding: 0.2rem;
}

.headgrp {
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: red;
}

.icon-btn {
  background: none;
  color: red;
}

.sidebar {
  width: 20%;
  padding: 1rem;
  position: absolute;
  top: 15%;
  right: 40%;
  border-radius: 1rem;
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
}

button,
input,
select {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-container {
  height: calc(100vh - 11rem);
  overflow-y: auto;
}

table thead {
  background: linear-gradient(to right, #48c6ef 0%, #8da2f0 100%);
  color: white;
  cursor: pointer;
}

.sidebar form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.formgroup,
.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-confirmation {
  padding: 20px;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 40%;
}

.admin {
  color: palevioletred;
}
.moderator {
  color: goldenrod;
}
.user {
  color: #6f86d6;
}

p {
  margin: 0;
}
.hidden {
  display: none;
}
.userImage {
  height: 2rem;
  width: 2rem;
}
.superCell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.userEmail {
  font-size: 0.8rem;
  opacity: 0.5;
}
.nameEmail {
  text-align: start;
}
.selected {
  background-color: rgb(133, 216, 133);
}

.icon-btn {
  border: none;
  background: none;
  color: inherit;
}
