
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main{
    flex: 1;
    width: 100%;
    display: flex;
}

.container{
    flex:1;
}

header, footer{
    background : linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
    width: 100%;
    padding: 1rem;
}

.headgrp{
    display: flex;
    justify-content: center;
    padding: .8rem;
}

.selectedfield{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5em;
    border-radius: 5px;
}

.field-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.icon-btn{
    border: none;
    background: none;
}

.sidebar{
    width: 270px;
    padding: 1rem;
    background : linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
}

.sidebar form{
    display: flex;
    flex-direction: column;
}

.sidebar input, select{
    padding: 8px;
    margin: 1em;
    border-radius: 10px;
    border: none;
}

#results{
    padding: 8px;
    margin: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

table {
    width: 95%; 
    margin:  10px 20px;
    border-collapse: collapse; 
}
  
table thead, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

  
table thead{
    background-color:#434343;
    font-weight: bold;
    color: white;
} 

.tablebody{
    height: 400px;
    overflow-y: auto;
}
.hidden{
    display: none;
}

.formgrp{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paginator{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}