*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

main{
    flex: 1;
    display: flex;
}

.container{
    flex:1;
}

header{
    display: flex;
    justify-content: space-between;
    background : linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
    padding: 1rem;
}

header h1{
    color: #fff;
}

.headgrp{
    display: flex;
    padding: .8rem;
    justify-content: space-between;
    align-items: center;
}

.error{
    color: red;
}


.icon-btn{
    background: none;
    color: red;
}

.sidebar{
    width: 20%;
    padding: 1rem;
    background : linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
}

 button, input, select{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
}


table {
    width: 100%;
    border-collapse: collapse;  
}
  
table thead, table td {
    padding: .5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

  
table thead{
    background : linear-gradient(to right, #48c6ef 0%, #8da2f0 100%);
    font-weight: bold;
    color: white;
} 

.tablebody{
    height: 400px;
    overflow-y: auto;
    margin: 1rem;
}

.hidden{
    display: none;
}

.sidebar form{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.formgroup, .btn-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-confirmation{
    padding: 20px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 8px;
    position: absolute;
    top:40%;
    left:40%;
}